
  <ion-app>
    <ion-header translucent>
      <ion-toolbar>
        <ion-title>HOJA DE VIDA</ion-title>
      </ion-toolbar>
    </ion-header>



    <ion-content fullscreen class="ion-padding">
    	
      <ion-list>
        <ion-list-header color="secondary">
          DATOS PERSONALES 
        </ion-list-header>
        <ion-item>
          <ion-label><h2>Nombres:</h2> Victor Omar</ion-label>

        </ion-item>
        <ion-item>
          <ion-label><h2>Apellidos:</h2> Espin Trujillo</ion-label>
        </ion-item>
        <ion-item>
          <ion-label><h2>CI:</h2> 1722641725</ion-label>
        </ion-item>
        <ion-item>
          <ion-label><h2>Fecha Nacimiento:</h2> 22/05/1996</ion-label>
        </ion-item>
        <ion-item>
          <ion-label><h2>Edad:</h2> 23</ion-label>
        </ion-item>
        <ion-item>
          <ion-label><h2>Estado Civil:</h2> Soltero</ion-label>
        </ion-item>
        <ion-item>
          <ion-label><h2>Lugar Nacimiento:</h2> Quito</ion-label>
        </ion-item>
        <ion-item>
          <ion-label><h2>Dirección:</h2> Guamani,Santo tomas2 </ion-label>
        </ion-item>
        <ion-item>
          <ion-label><h2>Teléfono:</h2> 0979312627</ion-label>
        </ion-item>
        <ion-item>
          <ion-label><h2>Correo Electrónico:</h2> victor.espin@epn.edu.ec</ion-label>
        </ion-item>

       
      </ion-list>

      <ion-list>
        <ion-list-header color="secondary">
          EDUCACION 
        </ion-list-header>
        <ion-list-header color="tertiary">
          UNIVERSITARIA 
        </ion-list-header>
        <ion-item>
          <ion-label>Escuela Politécnica Nacional</ion-label>
        </ion-item>
        <ion-item>
          <ion-label><h2>Carrera:</h2> Tecnología en analisis de sistemas informaticos</ion-label>
        </ion-item>
        <ion-item>
          <ion-label><h2>Semestre Actual:</h2> 6to Semestre</ion-label>
        </ion-item>
        <ion-list-header color="tertiary">
          SECUNDARIA 
        </ion-list-header>
        <ion-item>
          <ion-label>Colegio Nacional Juan Pío Montúfar</ion-label>
        </ion-item>
        <ion-item>
          <ion-label><h2>Especialidad:</h2> Fisico-Matematico</ion-label>
        </ion-item>
        <ion-item>
          <ion-label><h2>Direccion:</h2> Quito 170121</ion-label>
        </ion-item>
        <ion-list-header color="tertiary">
          PRIMARIA 
        </ion-list-header>
        <ion-item>
          <ion-label>Escuela Unidad Educativa Municipal Julio E. Moreno</ion-label>
        </ion-item>
        <ion-item>
          <ion-label><h2>Direccion:</h2> Sector Guamani, Calle Patricio Romero</ion-label>
        </ion-item>
        
        
      </ion-list>

      

      <ion-list>
        <ion-list-header color="secondary">
          EXPERIENCIA PROFESIONALES
        </ion-list-header>
        <ion-item>
          <ion-label>Instituto Superior Tecnologico Honorable Consejo Provincial de Pichincha</ion-label>
        </ion-item>
        <ion-list-header color="tertiary">
          CARGO
        </ion-list-header>
        <ion-item>
          <ion-label>Pasante Gestion de Tic's</ion-label>
        </ion-item>
        <ion-list-header color="tertiary" >
          FUNCIONES 
        </ion-list-header>
        <ion-item>
          <ion-label>Apoyo al desarrollo Software en php y herramientas Case</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Apoyo al diseño y mantenimiento de base de datos</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Apoyo a la gestion de informacion Academica en plataformas EVA y Colaborativas como OFFICE 365</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Apoyo al mantenimiento de redes y comunicaciones</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Apoyo al mantenimiento de equipos informaticos</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Atencion a usuarios finales</ion-label>
        </ion-item>
        <ion-list-header color="tertiary">
          JEFE INMEDIATO 
        </ion-list-header>
		<ion-item>
          <ion-label>Msc. Robinson Campaña (Administrador de la Gestion de TIC-ISTHCPP)</ion-label>
        </ion-item>
      </ion-list>

      
      <ion-list>
        <ion-list-header color="secondary">
          REFERENCIAS
        </ion-list-header>

        <ion-item-group>
          <ion-item-divider>
            <ion-label>B</ion-label>
          </ion-item-divider>

          <ion-item>
          <ion-label>Byron Espin, Optometro</ion-label>
          <ion-note slot="end" color="primary">0996121419</ion-note>
        </ion-item>
        <ion-item>
          <ion-label><h2>Cargo:</h2> Optometro Clinica de ojos del Doctor Sancho Laser Center</ion-label>
        </ion-item>


          <ion-item-divider>
            <ion-label>I</ion-label>
          </ion-item-divider>

          <ion-item>
          <ion-label>Ivonne Maldonado,Ingeniera en Sistemas</ion-label>
          <ion-note slot="end" color="secondary">0987933212</ion-note>
        </ion-item>
         <ion-item>
          <ion-label><h2>Cargo:</h2> Docente Ocacional Escuela Politecnica Nacional</ion-label>
        </ion-item>

          <ion-item-divider>
            <ion-label>M</ion-label>
          </ion-item-divider>

          <ion-item>
          <ion-label>Marmo Marmol, Ingeniero en Sistema</ion-label>
          <ion-note slot="end" color="tertiary">0995686888</ion-note>
        </ion-item>
        <ion-item>
          <ion-label><h2>Cargo:</h2> Administrador de infraestructura tecnologica del ISTHCPP</ion-label>
        </ion-item>


          <ion-item-divider>
            <ion-label>V</ion-label>
          </ion-item-divider>

          <ion-item>
          <ion-label>Victor Espin</ion-label>
          <ion-note slot="end" color="success">0998421139</ion-note>
        </ion-item>
        <ion-item>
          <ion-label><h2>Cargo:</h2> Licenciado Educacion Fisica Colegio Quito</ion-label>
        </ion-item>

        </ion-item-group>
      </ion-list>

    </ion-content>
  </ion-app>
