<ion-header>
  <ion-toolbar>
    <ion-title>
      Curriculum Vitae
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <img src="/assets/img/omar1.png" alt="" />
      
    </ion-card>
    <ion-list lines="none">
      <ion-list-header>
        <ion-label>Mostrar</ion-label>
      </ion-list-header>
      <ion-item href="tabs/tab2">
        <ion-icon slot="start" color="medium" name="book"></ion-icon>
        <ion-label>Hoja de vida</ion-label>
      </ion-item>
      <ion-item href="tabs/tab3">
        <ion-icon slot="start" color="medium" name="book"></ion-icon>
        <ion-label>Edad Actual</ion-label>
      </ion-item>
      
    </ion-list>
</ion-content>
